# Markdown Basics
## Markdown Basics
### Markdown Basics
#### Markdown Basics
#### Markdown Basics
##### Markdown Basics

* **Point1** (Bold)
* *Point2* (Itallic)
* ***Point3*** (Bold and Italic)

* Normal Text
 * Sublist 1
 * Sublist 2
 

> 1. Point1
> 2. Point2

* ***Adding Links to Markdown***

* Google Site -- [1]: http://www.google.com
* msn site    -- [2]: http://www.msn.com

- []option 1

* Google Site -- [Google][1]
[1]: http://www.google.com

### Python Basics
* Python version 3.7
- Functional Programming
- Object oriented Programming
- Scripting Programming

In [1]:
print("Hello, Gitam")

Hello, Gitam

In [2]:
print("Hello, Gitam")
print("Hyderabad")

Hello, Gitam
Hyderabad

In [6]:
print("Hello, Gitam", " ||| ",end = " ")
print("Hyderabad",end=" ||| ")
print("Python Programming")

Hello, Gitam  |||  Hyderabad ||| Python Programming

### Assignment

In [10]:
n1 = 100 # single Variable Assignment
a = b = c = 20 # Multi Variable Assignment of the same value
a1,b1,c1 = 111,222,333 # Multi Variable Assignment with different values
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
111 222 333

### Data types and Conversions
- int
- float
- string

In [15]:
a = 100;
s1 = "Python"
s2 = 'P'
f1 = 10.2
print(a,s1,s2,f1)
print(type(a),type(s1),type(s2),type(f1))

100 Python P 10.2
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>

In [4]:
i = 100
print(type(i))
s1 = str(i) # str() converts the input into string type
print(type(s1))
f1 = float(i) # float() converts the input into float type
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [9]:
s1 = "100"
print(type(s1))
a = int(s1)
print(type(a))
f = 1.5
a1 = int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [10]:
# A number is given 1234 -
# Digit count
a1 = 1234
print(len(str(a1)))

4

### Reading a value  -- Input Function
- input("Message") -- string

In [13]:
s1 = input("Enter your name")
print(s1)
print(type(s1))

Enter your nameAnilkumar
Anilkumar
<class 'str'>

In [16]:
# Want a number as a input
n1 = int(input("Enter a number"))
print(n1,type(n1))

Enter a number1234
1234 <class 'int'>

## Operators
* Operator is a symbols is used to perform a specific kind of opeations
### Arithetic Operators
- +
- /
- -
- * 
- %
- **
- //

In [18]:
n1 = 1234
print(n1+10)
print(n1-10)
print(n1*10)
print(n1/10)
print(n1%10)
print(n1//10)
print(n1**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

### Precedence of the Arth operators

- Parenthesis
- Power
- Mutiplication
- Addition

**Left to Right**

In [22]:
x = 1 + 2 ** 3 / 4 + 5 
print(x)

8.0

In [23]:
x = 1 + 2 ** 3 / 4 * 5 
print(x)

11.0

### Relational Operators
- == != < > <= >=

In [2]:
x = 10
a1 = x > 15
print(a1)

False

### Logical Operators
**Used to combine more than single condition**
- and 
- or
- not

In [5]:
i = 100
a1 = (i > 15) and (i < 800)
a2 = (i > 15) and (i > 800)
print(a1)
print(a2)

True
False

### Control flow Statements
- Conditional Statements
- Looping Statements

#### if - else statement

**Syntax**

if Boolean_Condition: <br>
   Statements<br>
else :<br>
   statements

In [9]:
# To check given number is even or odd
n = int(input("Enter a number"))
if n%2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number13
Odd

In [11]:
# To check given number is perfectly multiple of 3 and 5
n = int(input("Enter a number"))
if n%3 == 0 and n%5 == 0:
    print("Yes")
else:
    print("No")

Enter a number10
No

In [14]:
# test given number is positive, Negative or Zero
n = int(input("Enter a number"))
if n == 0:
    print("Zero")
elif n>0:
    print("Positive Number")
elif n<0:
    print("Negative number")

Enter a number0
Zero